*{
	padding:0px;
	margin:0px;
	color:#ffff;
	font-family: "Times New Roman";
	box-sizing:border-box;
}
body{
	background-image: url("cine.jpg");
}
a{text-decoration:none;font-weight:600;}
.link{color:#00aced;}
p{margin:5px 0px;}
.box{
	width:400px;
	height:auto;
	margin:250px 800px;
    background-color:#000;
}
.inner-box{
	padding:20px;
}
.box h1,h2,h3,h4,h5,h6{
	text-align:center;
	margin:5px 0px;
}
.forgot{
	float:right;
}
input[type="text"],input[type="password"],input[type="submit"],input[type="email"]{
	width:100%;
	padding:10px;
	margin:10px 0px;
	border:none;
	background:transparent;
	border-bottom: 1px solid #fff;
}
input[type="submit"]{
	border:1px solid #3B5998;
	background-color:red;
	color:white;
	font-size:16px;
	font-weight:600;
	cursor:pointer;
}
h2 {
	text-shadow: 3px 2px blue;
  }